<%- include('partials/header'); -%>
<section class="site-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2">
        <div class="block-16">
          <figure>
            <img src="images/image_2.jpg" alt="Image placeholder" class="img-fluid img-shadow">
          </figure>
        </div>
      </div>
      <div class="col-md-6 order-md-1">

        <div class="block-15">
          <div class="heading">
            <h2>Piano Lessons For Children</h2>
          </div>
          <div class="text mb-5">
          <p class="mb-4">Here, you can build your foundation and get started on the piano for free. But when you’re ready to take the next step and fast-track your results, we recommend becoming a Piano Member. As a member, you can take advantage of step-by-step courses, live lessons, and a warm, motivating community. This is an exclusive members-area where you'll get access to insanely well-structured lessons, a variety of engaging teachers, and a powerful online community where you can get your biggest questions answered. Most of all, don’t forget to have fun!</p>
          <p class="text-black">Composer <strong>Minister Stella</strong></p>
          </div>

        </div>

      </div>

    </div>

  </div>
</section>
<%- include('partials/footer'); -%>
