<%- include('partials/header'); -%>
<section class="site-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2">
        <div class="block-16">
          <figure>
            <img src="images/image_1.jpg" alt="Image placeholder" class="img-fluid img-shadow">
          </figure>
        </div>
      </div>
      <div class="col-md-6 order-md-1">

        <div class="block-15">
          <div class="heading">
            <h2>Bible Studies</h2>
          </div>
          <div class="text mb-5">
          <p class="mb-4">A church small group can unite and transform a group of people, reflecting the Apostle Paul’s encouragement to “stir up one another to love and good works, not neglecting to meet together” (Hebrews 10:24-25). If you need some small group leader inspiration, look no further than this list. As you take on the challenge of leading a small group, remember that even Jesus’ disciples had a hard time “getting it” most of the time! Be patient and prayerful and God will grow the seeds of truth and fellowship you are planning with your small group.</p>
          <p class="text-black">Composer <strong>Pastor K.K Gyekye</strong></p>
          </div>

        </div>

      </div>

    </div>

  </div>
</section>
<%- include('partials/footer'); -%>
