<%- include('partials/header'); -%>
<section class="site-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2">
        <div class="block-16">
          <figure>
            <img src="images/image_3.jpg" alt="Image placeholder" class="img-fluid img-shadow">
          </figure>
        </div>
      </div>
      <div class="col-md-6 order-md-1">

        <div class="block-15">
          <div class="heading">
            <h2>The Truth Will Set Us Free</h2>
          </div>
          <div class="text mb-5">
          <p class="mb-4">A fellow pastor once shared with me about a time when his 5-year-old daughter was stealing cookies. The rule was one per day, but he began to notice that the amount of cookies in the jar was rapidly decreasing. “Have you been taking cookies when you knew that was breaking the rule?” my friend gently asked. “No daddy, I haven’t been doing that. He pressed, “Are you sure that you haven’t been stealing cookies?” His daughter wouldn’t look him in the eye. “No, daddy, I don’t know where the cookies went.” He let it go for a while. A few hours later, his daughter came to him in tears. “Is there something you want to tell me?” he said. “I took the cookies,” she replied. “I’m sorry.” The father related that story with tears streaming down his own face. He knew that if his daughter had continued lying, it would corrode her from the inside out. Even worse, over time she could develop a hard heart: a heart insistent on maintaining a falsehood and pretending to be something she was not. She would have felt a growing distance from her father. In the U.S., we have a crisis of truth-telling. It’s among our top leaders, but also throughout our culture. If people don’t like the news, they call it fake news. The effect of such a casual approach to the truth is demoralizing. We’re in confusion. What’s true? What’s not true?. </p>
          <p class="text-black">Composer <strong>Elder Asamoah</strong></p>
          </div>

        </div>

      </div>

    </div>

  </div>
</section>
<%- include('partials/footer'); -%>
